.color {
  background-color: antiquewhite;
  margin: 1.4em;
  padding: 1.2em;
  border-radius: 10px;
  width: 25%;
}

.detail {
  background-color: darkorange;
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 10px;
}

.del {
  background-color: lightcoral;
  padding: 2%;
  border-radius: 5px;
  margin-left: 1.5em;
}

ul {
  background-color: orange;
  margin: 1.1em;
  padding: 1.1em;
  border-radius: 10px;
}

li {
  list-style: none;
}

li:hover {
  cursor: pointer;
}

.l
{
  display: inline-block;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 5px;
}

.selected {
  background-color: #336699;
  color: #ffffff;
}

ul li:hover {
  background-color: #d9A41A;
}
