<div>

  <ul class="dvd" *ngFor="let dvd of dvds | async" [class.selected]="dvd === selectedDvd">
    <li (click)="getDvd(dvd.id)" (click)="onSelect(dvd)">
      <span>
        <img src="{{dvd.data.id}}">
      </span>
      <span>
            {{dvd.data.title}}
      </span>
      <span>
        <a href="#" (click)="deleteDvd(dvd.id)">
          Delate
        </a>
      </span>
    </li>
  </ul>

  <app-dvd-detail [dvd]="selectedDvd"></app-dvd-detail>

  <div class="end" *ngIf="selectedDvd">
    <div>
      <h1><!--{{ (dvd | async)?.id }} -->{{ (dvd | async)?.title }}</h1>
    </div>
  </div>

</div>
