<div class="color">


  <ul *ngFor="let dvd of dvds | async">
    <li (click)="getDvd(dvd.id)" (click)="onSelect(dvd)"
        [class.selected]="dvd === selectedDvd">
      <span class="l">{{dvd.data.id}}</span> {{dvd.data.title}} <span class="del"><a href="#"
                                                                                     (click)="deleteDvd(dvd.id)">Delate</a></span>
    </li>
  </ul>

  <div *ngIf="selectedDvd">
  <h2><strong>A Detail:</strong></h2>
  <div class="detail">
    <h3>{{ (dvd | async)?.id }}</h3>
    <p> {{ (dvd | async)?.title }}</p>
  </div>


    <h2>{{selectedDvd.data.title | uppercase}} Details</h2>
    <div><span>id: </span>{{selectedDvd.id}}</div>
    <div>
      <label>name:
        <input [(ngModel)]="selectedDvd.data.title" placeholder="name">
      </label>
    </div>
  </div>

</div>
