<p>***********************************app***********************************</p>
<h1>{{titleApp}}</h1>
<p>-------------lista-------------</p>

<ul *ngFor="let dvd of dvds | async">
  <li (click)="getDvd(dvd.id)">
    <span>{{dvd.data.id}}</span>

    {{dvd.data.title}}
  </li>
</ul>

<p>-------------lista-------------</p>


<p>------------form add------------</p>

<input type="text" [(ngModel)]="id" name="id" placeholder="id..">
<textarea [(ngModel)]="title" name="title" placeholder="title.."></textarea>
<input type="submit" value="Add a dvd" (click)="addDvd()">

<p>------------form add------------</p>


<p>------------spec------------</p>

<h1>A Detail:</h1>

<h3>{{ (dvd | async)?.id }}</h3>
<p> {{ (dvd | async)?.title }}</p>

<p>------------spec------------</p>


<p>***********************************app***********************************</p>
